body {
  font-size: 16px;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, apple color emoji, segoe ui emoji, segoe ui symbol, segoe ui, pingfang sc, hiragino sans gb, source han sans cn, microsoft yahei, helvetica neue, Helvetica, Arial, sans-serif;

  font-weight: 400;
}

.breadcrumbs {
  margin-bottom: 10px;
  font-weight: 400;
}

.page-header h1 {
  font-size: 35px;
}

.post-title {
  font-size: 35px;
}

.post-content h2 {
  font-size: 24px;
}

.post-content h3 {
  font-size: 20px;
}

.post-content h4 {
  font-size: 16px;
}

.post-content h5 {
  font-size: 14px;
}

.post-content h6 {
  font-size: 12px;
}

.button,
.terms-tags a {
  background: var(--entry);
  border: 1px solid var(--tertiary);
}

#menu a,
#menu .active {
  font-weight: 600;
}

.skills {
  text-align: center;
}

.skills a {
  display: inline-block;
  text-decoration: none;
  box-shadow: none;
  padding: 5px;
}