.page-header h1 {
  font-size: 34px;
}

.post-title {
  font-size: 34px;
}

.post-content h2 {
  font-size: 28px;
}

.post-content h3 {
  font-size: 22px;
}

.post-content h4 {
  font-size: 20px;
}

.post-content h5 {
  font-size: 18px;
}

.post-content h6 {
  font-size: 17px;
}

.post-content .chroma {
  border-radius: var(--radius);
}

.post-content code {
  background-color: var(--code-bg);
  margin: 0 3px;
  padding: 4px 5px;
  border-radius: 3px;
  font-size: .88em;
  font-family: var(--monospace);
}

.post-content pre code {
  display: block;
  margin: auto 0;
  padding: 15px;
  color: inherit;
  overflow-x: auto;
  border-radius: var(--radius);
  background: inherit !important;
  word-break: break-all;
  font-family: var(--monospace);
}

.post-content .chroma code {
  background-color: inherit;
  font-family: var(--monospace);
}

.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
  padding: 6px;
}
