.projects-section {
  margin: var(--gap) 0 calc(var(--gap) * 2);
}

.projects-section h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.portfolio-projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.project {
  padding: 20px;
  background: var(--entry);
  border-radius: 5px;
  cursor: pointer;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.folder-icon {
  font-size: 25px;
}

.small-icons {
  font-size: 19px;
  display: flex;
}

.small-icons i {
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.small-icons i:hover {
  color: #ffcc17;
}

.project h3 {
  margin-right: 10px;
}

.project p {
  font-size: 14px;
  color: var(--secondary);
}
