<div class="projects-section" title="GitHub Repository">
  <h2>{{ i18n "project-header" }}</h2>
  <div class="portfolio-projects">
    {{- range site.Data.projects.list }}
      <div class="project" data-project-link="{{ .projectLink }}">
        <div class="project-header">
          <h3>{{ .title }}</h3>
          <div class="small-icons">
            <a
              href="{{ .projectLink }}"
              title="GitHub Repository"
              target="_blank"
              rel="noopener noreferrer me">
              <i class="fa-brands fa-github"></i>
            </a>
            {{- if .demoLink }}
              <a
                href="{{ .demoLink }}"
                title="Demo"
                target="_blank"
                rel="noopener noreferrer me">
                <i class="fa-solid fa-up-right-from-square"></i>
              </a>
            {{- end }}
          </div>
        </div>
        <p>{{ .description }}</p>
      </div>
    {{- end }}
  </div>
</div>
